body {
  margin: 0;
  padding: 0;
  background-color: #D0CECE;
  overflow-x: hidden;
}

.box,
.mapBox {
  text-align: center;
  display: grid;
}

.container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.box>.container>div {
  width: calc(50% - 40px);
  height: 500px;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgb(0 0 0 / 5%);
  padding: 10px;
  background-color: white;
}

.fullWidth>div {
  width: 100% !important;
}

#main-page {
  width: 100%;
}

#main-page .page-item {
  width: 100%;
  height: 100vh;
}